table,
th {
  border: 1px solid #000;
  font-family:
    Verdana, Geneva, Tahoma, sans-serif, "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, Courier, monospace;
  border-collapse: collapse;
}

caption {
  border: 1px solid #000;
  border-bottom: none;
  font-weight: 900;
}

td {
  border: 1px solid #000;
  padding-left: 2px;
  padding: 3px 6px;
}

.red {
  color: red;
}
