body {
  font-family: "Segoe UI";
}

fieldset {
  max-width: 300px;
  border-radius: 10px;
  border: 2px solid #000;
  margin: 30px;
}

p,
h3 {
  margin: 10px 0px 4px;
}

textarea {
  resize: vertical;
  padding: 6px 6px;
  border-radius: 4px;
  width: 230px;
  min-height: 30px;
  max-height: 100px;
}

input {
  padding: 6px 6px;
  border-width: 1px;
  border-radius: 4px;
  width: 230px;
}

.cnopka {
  width: 20px;
  cursor: pointer;
}

button {
  border: 0px;
  padding-inline: 10px;
  padding-block: 3px;
  border-radius: 4px;
  cursor: pointer;
}
